.hero-section {
  background-image: url('../../assets/images/hero-image.svg');
  background-repeat: no-repeat;
  background-size: contain;
  width: 100%;
}

@media only screen and (min-width: 1024px) {
  .hero-section {
    height: 50rem;
  }
}
