.plans-section{
  background: #ffffff;
  background: linear-gradient(to bottom, #a5b4fc 0%, #6366f1 75%);
}
.help-text{
  font-size: 2.4rem;
}

.finger-icon {
  animation-name: fingerIconAnime;
  animation-duration: 700ms;
  animation-fill-mode: both;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

@keyframes fingerIconAnime {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1.2);
  }
}
